<h3><%= @notice.title %></h3>
<div class="well">
  <%= @notice.description %>
</div>  
<%= link_to t('buttons.home'), root_path, class: "btn btn-primary" %>
<%= link_to t('buttons.see_project'), project_path(@notice.project), class: "btn btn-primary" %>
<%= link_to t('buttons.see_client'), user_path(@notice.project.user), class: "btn btn-primary" if current_user.is_admin? %>
