<h3><%= @notice.title %></h3>
<div class="well">
  <%= @notice.description %>
</div>
<%= link_to "Início", root_path, class: "btn btn-primary" %>
<%= link_to "Ver projeto", project_path(@notice.project), class: "btn btn-primary" %>
<%= link_to "Ver cliente", user_path(@notice.project.user), class: "btn btn-primary" if current_user.is_admin? %>
<% @attachments.each do |p| %>
<%= image_tag p.image %>
<h4> <%=link_to "arquivo",  p.image.url %> </h4
<% end %>
