<h2><%= t('menu.my_account') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username, t('user.username') %><br />
    <%= f.text_field :username, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :email, t('user.email') %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :name, t('user.name') %><br />
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :contact_name, t("user.contact_name") %><br />
    <%= f.text_field :contact_name %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, t('user.new_password') + t('user.password_minimum') %> <i><%= t('user.password_dont_change') %></i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('user.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, t('user.current_password') %> <i><%= t('user.password_change') %></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('buttons.update') %>
  </div>
<% end %>

<%= link_to t('buttons.home'), root_path %>
