<div class="text-center">
  <%= form_tag query_users_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag t('buttons.search'), name: nil, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<h3 class="text-center"><%= t('table.all_users') %></h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th><%= t('user.name') %></th>
      <th><%= t('user.username') %></th>
      <th><%= t('user.email') %></th>
      <th><%= t('user.type') %></th>
      <th><%= t('table.active_projects') %></th>
      <th><%= t('table.projects') %></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% projects = user.projects %>
        <tr class=<%= "border-left-green" if user.has_any_active_project? %>>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.is_admin? ? t('user.admin') : t('user.common') %></td> 
          <td><%= user.projects.where(completed: false).length %> </td>     
          <td><%= user.projects.length %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @projects, class: "text-center" %>
</div>



<div class="text-center">
  <%= link_to t('buttons.home'), root_path, class: "btn btn-primary" %>
</div>