<div class="text-center">
  <%= form_tag query_users_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Procurar", name: nil, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<h3 class="text-center">Todos os usuários</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>Nome</th>
      <th>Usuário</th>
      <th>Email</th>
      <th>Tipo</th>
      <th>Projetos ativos</th>
      <th>Projetos</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% projects = user.projects %>
        <tr class=<%= "border-left-green" if user.has_any_active_project? %>>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.is_admin? ? "Administrador" : "Comum" %></td> 
          <td><%= user.projects.where(completed: false).length %> </td>     
          <td><%= user.projects.length %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to "Início", root_path, class: "btn btn-primary" %>
</div>