<h3 class="text-center">Lista de administradores</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>Nome</th>
      <th>Usuário</th>
      <th>Email</th>
      <th>Telefone</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <td><%= link_to user.contact_name, user_path(user) %></td>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= link_to "Início", root_path, class:"btn btn-primary" %>
</div>