<h3 class="text-center">Lista de clientes</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>Empresa</th>
      <th>Usuário</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Contato</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="<%= "border-left-green" if user.has_any_active_project? %>">
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.contact_name %></td>
        </tr>        
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= link_to "Início", root_path, class:"btn btn-primary" %>
</div>