<%= link_to "Cadastrar cliente", new_user_path %>
<%= link_to "Cadastrar administrador", create_admin_users_path %>
<%= link_to "Todos os usuários", users_path %>
<%= link_to "Todos os projetos", projects_path %>
<%= link_to "Clientes", customers_path %>
<%= link_to "Administradores", admins_path %>


<h3>Projetos ativos</h3>
<% if @projects %>
  <% @projects.each do |project| %>
    <p><%= link_to project.name, project_path(project)  %></p>
  <% end %>
<% end %>

<%  %>
