<h3 class="text-center"><%= t('user.projects') %></h3>
<div class="table-responsive">
  <% if @projects.empty? %>
    <p class="text-center"><%= t('project.empty') %></p>
  <% else %>
    <table class="table table-striped">
      <thead>
        <th><%= t('table.project') %></th>
        <th><%= t('table.status') %></th>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <% if project.completed? %>
            <tr class="bg-success">
              <td><%= link_to project.name, project_path(project) %></td>
              <td><%= t('project.completed') %></td>      
            </tr>
          <% elsif project.canceled? %>
            <tr class="bg-danger">
              <td><%= link_to project.name, project_path(project) %></td> 
              <td><%= t('project.canceled') %></td>     
            </tr>
          <% else %>
            <tr>
              <td><%= link_to project.name, project_path(project) %></td>  
              <td><%= t('project.in_progress') %></td>    
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
