<div class="text-center">
  <%= form_tag query_projects_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag t('buttons.search'), name: nil, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<h3 class="text-center"><%= t('table.all_projects') %></h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th><%= t('table.project') %></th>
      <th><%= t('table.client') %></th>
      <th><%= t('table.status') %></th>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <% if project.completed? %>
          <tr>
            <td><%= link_to project.name, project_path(project) %></td> 
            <td><%= link_to project.user.name, user_path(project.user) %></td>     
            <td class="btn-success"><%= t('project.completed') %></td>
          </tr>
        <% elsif project.canceled? %>
          <tr>
            <td><%= link_to project.name, project_path(project) %></td>    
            <td><%= link_to project.user.name, user_path(project.user) %></td>     
            <td class="btn-danger"><span ><%= t('project.canceled') %></span></td>  
          </tr>
        <% else %>
          <tr>
            <td><%= link_to project.name, project_path(project) %></td>
            <td><%= link_to project.user.name, user_path(project.user) %></td>     
            <td class="btn-primary"><%= t('project.in_progress') %></td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= link_to t('buttons.home'), root_path, class: "btn btn-primary" %>
</div>