<h3>
  <%= @project.name %>
  <%= " - Terminado" if @project.completed? %>
</h3>

<div class="well">
  <p><%= @project.description %></p>
  <p><%= link_to "Adicionar notificação", new_notice_path  if current_user.is_admin? %></p>
  <p class="pull-right small">Projeto adicionado em <%= @project.created_at %></p>
</div>

<div class="row">
<% @notices.each do |notice| %>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to notice.title, notice_path(notice) %>
      </div>
      <div class="panel-body">
        <p><%= notice.description %></p>
      </div>
      <div class="panel-footer">
        <%= link_to "Ver notificação", notice_path(notice) %>
        <ul class="pull-right inline">
          <li><span class="glyphicon glyphicon-picture"></span><%= notice.photos.empty? ? '0' : notice.photos.length %></li>
          <li><span class="glyphicon glyphicon-text-size"></span><%= notice.documents.empty? ? '0' : notice.documents.length %></li>
        </ul>
      </div>
    </div>
  </div>

<% end %>
</div>

<% if current_user.is_admin? %>
  <%= link_to "Marcar projeto como completado.", complete_project_path(@project), method: :patch if @project.uncompleted? %>
  <%= link_to "Marcar projeto como não completado.", uncomplete_project_path(@project), method: :patch if @project.completed? %>
  <%= link_to "Ver cliente", user_path(@project.user)%>
<% end %>

<%= link_to "Início", root_path, class: "btn btn-success" %>


