<h3>
  <%= @project.name %>
    <b><%= t('project.completed') if @project.completed? %></b>
    <b><%= t('project.canceled') if @project.canceled? %></b>
</h3>
<p><%= link_to t('buttons.add_notice'), new_notice_path, class: "btn btn-success pull-right"  if current_user.is_admin? %></p>

<div class="well">
  <p><%= @project.description %></p>  
  <p class="pull-right small"><%= t('project.added_on', date: @project.created_at.to_date) %></p>
</div>
<div class="text-center">
  <h3><%= t('project.notices') %></h3>
</div>
<div class="row">
<% @notices.each do |notice| %>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% title = truncate notice.title, length: 50 unless current_user.is_admin? %>
        <% title = truncate notice.title, length: 35 if current_user.is_admin? %>
        <%= link_to title, notice_path(notice) %>
        <% if current_user.is_admin? %>
          <ul class="pull-right inline">
            <li>
              <%= link_to edit_notice_path(notice) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
            </li>
            <li>
              <%= link_to notice_path(notice), method: :delete, data: { confirm: t('project.confirm_delete_notice') } do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
      <div class="panel-body">
        <p><%= truncate notice.description, length: 100 %></p>
      </div>
      <div class="panel-footer">
        <%= link_to t('buttons.see_notice'), notice_path(notice) %>
        <ul class="pull-right inline">
          <li><span class="glyphicon glyphicon-picture"></span><%= notice.attachments.empty? ? '0' : notice.attachments.length %></li>
          <li><span class="glyphicon glyphicon-text-size"></span><%= notice.documents.empty? ? '0' : notice.documents.length %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- Links -->
<%= link_to t('buttons.home'), root_path, class: "btn btn-primary" %>
<% if current_user.is_admin? %>
  <%= link_to t('buttons.back'), :back, class: "btn btn-primary" %>
  <%= link_to t('buttons.edit'), edit_project_path(@project), class: "btn btn-primary" %>
  <% if @project.uncompleted? %>
    <%= link_to t('buttons.complete'), complete_project_path(@project), method: :patch, class: "btn btn-success", data: { confirm: t('project.confirm_completed') }  if @project.uncompleted? %>
  <% else %>
    <%= link_to t('buttons.uncomplete'), uncomplete_project_path(@project), method: :patch, class: "btn btn-danger", data: { confirm: t('project.confirm_reopen') } if @project.completed? %>
  <% end %>
  <% if @project.canceled? && @project.uncompleted? %>
    <%= link_to t('buttons.reopen'), uncancel_project_path(@project), method: :patch, class: "btn btn-danger pull-right", data: { confirm: t('project.confirm_reopen') } %>
  <% elsif @project.uncompleted? %>
    <%= link_to t('buttons.cancel'), cancel_project_path(@project), method: :patch, class: "btn btn-danger pull-right", data: { confirm: t('project.confirm_cancelation') } %>
  <% end %>
<% end %>
