<h3>
  <%= @project.name %>
  <%= "- Terminado" if @project.completed? %>
</h3>
<p><%= @project.description %></p>
<p><%= link_to "Adicionar notificação", new_notice_path  if current_user.is_admin? %></p>

<% count = 1 %>
<% @notices.each do |notice| %>
  <p><%= "Notícia ##{count}" %></p>
  <p><b><%= link_to notice.title, notice_path(notice) %></b></p>
  <p><%= notice.description %></p>
  <% count += 1 %>
<% end %>

<%= link_to "Marcar projeto como completado.", project_complete_project_path(@project), method: :patch %>

<%= link_to "Início", root_path %>
<%= link_to "Ver cliente", user_path(@project.user) if current_user.is_admin?%>

