<!DOCTYPE html>
<html>
<head>
  <title>Steel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg-whiteish">
  <div class="notices container-fluid">
    <div class="container">
      <div class="row text-center">
        <p class="notice success"><%= notice %></p>
        <p class="alert danger"><%= alert %></p>
      </div>
    </div>  
        
    <p class="pull-right small">Clique para fechar.</p>
  </div>


  <div class="container">
    <%= yield %>
  </div>
  

</body>
</html>
